/**
 * @file
 */

.gridstack--skin--selena .box__link {
  text-transform: uppercase;
  font-size: small;
}

.gridstack--skin--selena .box__title {
  margin-top: 0;
}

/* Default flex is stretch. */
.gridstack--skin--selena .row .box__content[class*="bg"] {
  height: 100%;
}
