/**
 * @file
 * Provides basic skins to avoid broken display OOTB for js-driven layouts.
 *
 * At most cases, might need to re-touch this file.
 */

/** Prevents hover-event blocking for lightbox trigger below caption. */
.gridstack .box__caption,
.gridstack .blazy__caption {
  z-index: 2;
  padding: 15px;
  pointer-events: none;
}

.gridstack .box__caption a,
.gridstack .blazy__caption a,
.gridstack .box__caption input {
  pointer-events: auto;
}

.box.box--caption--bottom .box__caption {
  top: auto;
  bottom: 0;
}

.box.box--caption--top .box__caption {
  top: 0;
}

.box.box--caption--center .box__caption {
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.gridstack .is-b-loading .box__caption {
  transition: opacity 500ms ease-in-out;
}
