/**
 * @file
 */

.gridstack.grid-stack-2 > .box {
  min-width: 50%;
}

.gridstack.grid-stack-2 > .box[gs-w="1"] {
  width: 50%;
}

.gridstack.grid-stack-2 > .box[gs-x="1"] {
  left: 50%;
}

.gridstack.grid-stack-2 > .box[gs-min-w="1"] {
  min-width: 50%;
}

.gridstack.grid-stack-2 > .box[gs-max-w="1"] {
  max-width: 50%;
}

.gridstack.grid-stack-2 > .box[gs-w="2"] {
  width: 100%;
}

.gridstack.grid-stack-2 > .box[gs-x="2"] {
  left: 100%;
}

.gridstack.grid-stack-2 > .box[gs-min-w="2"] {
  min-width: 100%;
}

.gridstack.grid-stack-2 > .box[gs-max-w="2"] {
  max-width: 100%;
}
