/**
 * @file
 *
 * This file is not used. Merged as global styling into gridstack.library.css,
 * and split into gridstack.static.css so that Outlayer ungridstack which
 * requires minimal rules gets the minimal. It is not loaded, nor required.
 * Still kept for docs and historical purposes.
 */

.gridstack.grid-stack-12 > .box {
  min-width: 8.33333%;
}

.gridstack.grid-stack-12 > .box[gs-w="1"] {
  width: 8.33333%;
}

.gridstack.grid-stack-12 > .box[gs-x="1"] {
  left: 8.33333%;
}

.gridstack.grid-stack-12 > .box[gs-min-w="1"] {
  min-width: 8.33333%;
}

.gridstack.grid-stack-12 > .box[gs-max-w="1"] {
  max-width: 8.33333%;
}

.gridstack.grid-stack-12 > .box[gs-w="2"] {
  width: 16.66667%;
}

.gridstack.grid-stack-12 > .box[gs-x="2"] {
  left: 16.66667%;
}

.gridstack.grid-stack-12 > .box[gs-min-w="2"] {
  min-width: 16.66667%;
}

.gridstack.grid-stack-12 > .box[gs-max-w="2"] {
  max-width: 16.66667%;
}

.gridstack.grid-stack-12 > .box[gs-w="3"] {
  width: 25%;
}

.gridstack.grid-stack-12 > .box[gs-x="3"] {
  left: 25%;
}

.gridstack.grid-stack-12 > .box[gs-min-w="3"] {
  min-width: 25%;
}

.gridstack.grid-stack-12 > .box[gs-max-w="3"] {
  max-width: 25%;
}

.gridstack.grid-stack-12 > .box[gs-w="4"] {
  width: 33.33333%;
}

.gridstack.grid-stack-12 > .box[gs-x="4"] {
  left: 33.33333%;
}

.gridstack.grid-stack-12 > .box[gs-min-w="4"] {
  min-width: 33.33333%;
}

.gridstack.grid-stack-12 > .box[gs-max-w="4"] {
  max-width: 33.33333%;
}

.gridstack.grid-stack-12 > .box[gs-w="5"] {
  width: 41.66667%;
}

.gridstack.grid-stack-12 > .box[gs-x="5"] {
  left: 41.66667%;
}

.gridstack.grid-stack-12 > .box[gs-min-w="5"] {
  min-width: 41.66667%;
}

.gridstack.grid-stack-12 > .box[gs-max-w="5"] {
  max-width: 41.66667%;
}

.gridstack.grid-stack-12 > .box[gs-w="6"] {
  width: 50%;
}

.gridstack.grid-stack-12 > .box[gs-x="6"] {
  left: 50%;
}

.gridstack.grid-stack-12 > .box[gs-min-w="6"] {
  min-width: 50%;
}

.gridstack.grid-stack-12 > .box[gs-max-w="6"] {
  max-width: 50%;
}

.gridstack.grid-stack-12 > .box[gs-w="7"] {
  width: 58.33333%;
}

.gridstack.grid-stack-12 > .box[gs-x="7"] {
  left: 58.33333%;
}

.gridstack.grid-stack-12 > .box[gs-min-w="7"] {
  min-width: 58.33333%;
}

.gridstack.grid-stack-12 > .box[gs-max-w="7"] {
  max-width: 58.33333%;
}

.gridstack.grid-stack-12 > .box[gs-w="8"] {
  width: 66.66667%;
}

.gridstack.grid-stack-12 > .box[gs-x="8"] {
  left: 66.66667%;
}

.gridstack.grid-stack-12 > .box[gs-min-w="8"] {
  min-width: 66.66667%;
}

.gridstack.grid-stack-12 > .box[gs-max-w="8"] {
  max-width: 66.66667%;
}

.gridstack.grid-stack-12 > .box[gs-w="9"] {
  width: 75%;
}

.gridstack.grid-stack-12 > .box[gs-x="9"] {
  left: 75%;
}

.gridstack.grid-stack-12 > .box[gs-min-w="9"] {
  min-width: 75%;
}

.gridstack.grid-stack-12 > .box[gs-max-w="9"] {
  max-width: 75%;
}

.gridstack.grid-stack-12 > .box[gs-w="10"] {
  width: 83.33333%;
}

.gridstack.grid-stack-12 > .box[gs-x="10"] {
  left: 83.33333%;
}

.gridstack.grid-stack-12 > .box[gs-min-w="10"] {
  min-width: 83.33333%;
}

.gridstack.grid-stack-12 > .box[gs-max-w="10"] {
  max-width: 83.33333%;
}

.gridstack.grid-stack-12 > .box[gs-w="11"] {
  width: 91.66667%;
}

.gridstack.grid-stack-12 > .box[gs-x="11"] {
  left: 91.66667%;
}

.gridstack.grid-stack-12 > .box[gs-min-w="11"] {
  min-width: 91.66667%;
}

.gridstack.grid-stack-12 > .box[gs-max-w="11"] {
  max-width: 91.66667%;
}

.gridstack.grid-stack-12 > .box[gs-w="12"] {
  width: 100%;
}

.gridstack.grid-stack-12 > .box[gs-x="12"] {
  left: 100%;
}

.gridstack.grid-stack-12 > .box[gs-min-w="12"] {
  min-width: 100%;
}

.gridstack.grid-stack-12 > .box[gs-max-w="12"] {
  max-width: 100%;
}
