/**
 * @file
 */

.gridstack.grid-stack-8 > .box {
  min-width: 12.5%;
}

.gridstack.grid-stack-8 > .box[gs-w="1"] {
  width: 12.5%;
}

.gridstack.grid-stack-8 > .box[gs-x="1"] {
  left: 12.5%;
}

.gridstack.grid-stack-8 > .box[gs-min-w="1"] {
  min-width: 12.5%;
}

.gridstack.grid-stack-8 > .box[gs-max-w="1"] {
  max-width: 12.5%;
}

.gridstack.grid-stack-8 > .box[gs-w="2"] {
  width: 25%;
}

.gridstack.grid-stack-8 > .box[gs-x="2"] {
  left: 25%;
}

.gridstack.grid-stack-8 > .box[gs-min-w="2"] {
  min-width: 25%;
}

.gridstack.grid-stack-8 > .box[gs-max-w="2"] {
  max-width: 25%;
}

.gridstack.grid-stack-8 > .box[gs-w="3"] {
  width: 37.5%;
}

.gridstack.grid-stack-8 > .box[gs-x="3"] {
  left: 37.5%;
}

.gridstack.grid-stack-8 > .box[gs-min-w="3"] {
  min-width: 37.5%;
}

.gridstack.grid-stack-8 > .box[gs-max-w="3"] {
  max-width: 37.5%;
}

.gridstack.grid-stack-8 > .box[gs-w="4"] {
  width: 50%;
}

.gridstack.grid-stack-8 > .box[gs-x="4"] {
  left: 50%;
}

.gridstack.grid-stack-8 > .box[gs-min-w="4"] {
  min-width: 50%;
}

.gridstack.grid-stack-8 > .box[gs-max-w="4"] {
  max-width: 50%;
}

.gridstack.grid-stack-8 > .box[gs-w="5"] {
  width: 62.5%;
}

.gridstack.grid-stack-8 > .box[gs-x="5"] {
  left: 62.5%;
}

.gridstack.grid-stack-8 > .box[gs-min-w="5"] {
  min-width: 62.5%;
}

.gridstack.grid-stack-8 > .box[gs-max-w="5"] {
  max-width: 62.5%;
}

.gridstack.grid-stack-8 > .box[gs-w="6"] {
  width: 75%;
}

.gridstack.grid-stack-8 > .box[gs-x="6"] {
  left: 75%;
}

.gridstack.grid-stack-8 > .box[gs-min-w="6"] {
  min-width: 75%;
}

.gridstack.grid-stack-8 > .box[gs-max-w="6"] {
  max-width: 75%;
}

.gridstack.grid-stack-8 > .box[gs-w="7"] {
  width: 87.5%;
}

.gridstack.grid-stack-8 > .box[gs-x="7"] {
  left: 87.5%;
}

.gridstack.grid-stack-8 > .box[gs-min-w="7"] {
  min-width: 87.5%;
}

.gridstack.grid-stack-8 > .box[gs-max-w="7"] {
  max-width: 87.5%;
}

.gridstack.grid-stack-8 > .box[gs-w="8"] {
  width: 100%;
}

.gridstack.grid-stack-8 > .box[gs-x="8"] {
  left: 100%;
}

.gridstack.grid-stack-8 > .box[gs-min-w="8"] {
  min-width: 100%;
}

.gridstack.grid-stack-8 > .box[gs-max-w="8"] {
  max-width: 100%;
}
