/**
 * @file
 *
 * @todo move it outside to re-se with gridstack/native.
 */

.gridstack.grid-stack-1 > .box {
  min-width: 100%;
}

.gridstack.grid-stack-1 > .box[gs-w="1"] {
  width: 100%;
}

.gridstack.grid-stack-1 > .box[gs-x="1"] {
  left: 100%;
}

.gridstack.grid-stack-1 > .box[gs-min-w="1"] {
  min-width: 100%;
}

.gridstack.grid-stack-1 > .box[gs-max-w="1"] {
  max-width: 100%;
}
