/**
 * @file
 */

.gridstack.grid-stack-5 > .box {
  min-width: 20%;
}

.gridstack.grid-stack-5 > .box[gs-w="1"] {
  width: 20%;
}

.gridstack.grid-stack-5 > .box[gs-x="1"] {
  left: 20%;
}

.gridstack.grid-stack-5 > .box[gs-min-w="1"] {
  min-width: 20%;
}

.gridstack.grid-stack-5 > .box[gs-max-w="1"] {
  max-width: 20%;
}

.gridstack.grid-stack-5 > .box[gs-w="2"] {
  width: 40%;
}

.gridstack.grid-stack-5 > .box[gs-x="2"] {
  left: 40%;
}

.gridstack.grid-stack-5 > .box[gs-min-w="2"] {
  min-width: 40%;
}

.gridstack.grid-stack-5 > .box[gs-max-w="2"] {
  max-width: 40%;
}

.gridstack.grid-stack-5 > .box[gs-w="3"] {
  width: 60%;
}

.gridstack.grid-stack-5 > .box[gs-x="3"] {
  left: 60%;
}

.gridstack.grid-stack-5 > .box[gs-min-w="3"] {
  min-width: 60%;
}

.gridstack.grid-stack-5 > .box[gs-max-w="3"] {
  max-width: 60%;
}

.gridstack.grid-stack-5 > .box[gs-w="4"] {
  width: 80%;
}

.gridstack.grid-stack-5 > .box[gs-x="4"] {
  left: 80%;
}

.gridstack.grid-stack-5 > .box[gs-min-w="4"] {
  min-width: 80%;
}

.gridstack.grid-stack-5 > .box[gs-max-w="4"] {
  max-width: 80%;
}

.gridstack.grid-stack-5 > .box[gs-w="5"] {
  width: 100%;
}

.gridstack.grid-stack-5 > .box[gs-x="5"] {
  left: 100%;
}

.gridstack.grid-stack-5 > .box[gs-min-w="5"] {
  min-width: 100%;
}

.gridstack.grid-stack-5 > .box[gs-max-w="5"] {
  max-width: 100%;
}
