/**
 * @file
 */

.gridstack.grid-stack-7 > .box {
  min-width: 14.28571%;
}

.gridstack.grid-stack-7 > .box[gs-w="1"] {
  width: 14.28571%;
}

.gridstack.grid-stack-7 > .box[gs-x="1"] {
  left: 14.28571%;
}

.gridstack.grid-stack-7 > .box[gs-min-w="1"] {
  min-width: 14.28571%;
}

.gridstack.grid-stack-7 > .box[gs-max-w="1"] {
  max-width: 14.28571%;
}

.gridstack.grid-stack-7 > .box[gs-w="2"] {
  width: 28.57143%;
}

.gridstack.grid-stack-7 > .box[gs-x="2"] {
  left: 28.57143%;
}

.gridstack.grid-stack-7 > .box[gs-min-w="2"] {
  min-width: 28.57143%;
}

.gridstack.grid-stack-7 > .box[gs-max-w="2"] {
  max-width: 28.57143%;
}

.gridstack.grid-stack-7 > .box[gs-w="3"] {
  width: 42.85714%;
}

.gridstack.grid-stack-7 > .box[gs-x="3"] {
  left: 42.85714%;
}

.gridstack.grid-stack-7 > .box[gs-min-w="3"] {
  min-width: 42.85714%;
}

.gridstack.grid-stack-7 > .box[gs-max-w="3"] {
  max-width: 42.85714%;
}

.gridstack.grid-stack-7 > .box[gs-w="4"] {
  width: 57.14286%;
}

.gridstack.grid-stack-7 > .box[gs-x="4"] {
  left: 57.14286%;
}

.gridstack.grid-stack-7 > .box[gs-min-w="4"] {
  min-width: 57.14286%;
}

.gridstack.grid-stack-7 > .box[gs-max-w="4"] {
  max-width: 57.14286%;
}

.gridstack.grid-stack-7 > .box[gs-w="5"] {
  width: 71.42857%;
}

.gridstack.grid-stack-7 > .box[gs-x="5"] {
  left: 71.42857%;
}

.gridstack.grid-stack-7 > .box[gs-min-w="5"] {
  min-width: 71.42857%;
}

.gridstack.grid-stack-7 > .box[gs-max-w="5"] {
  max-width: 71.42857%;
}

.gridstack.grid-stack-7 > .box[gs-w="6"] {
  width: 85.71429%;
}

.gridstack.grid-stack-7 > .box[gs-x="6"] {
  left: 85.71429%;
}

.gridstack.grid-stack-7 > .box[gs-min-w="6"] {
  min-width: 85.71429%;
}

.gridstack.grid-stack-7 > .box[gs-max-w="6"] {
  max-width: 85.71429%;
}

.gridstack.grid-stack-7 > .box[gs-w="7"] {
  width: 100%;
}

.gridstack.grid-stack-7 > .box[gs-x="7"] {
  left: 100%;
}

.gridstack.grid-stack-7 > .box[gs-min-w="7"] {
  min-width: 100%;
}

.gridstack.grid-stack-7 > .box[gs-max-w="7"] {
  max-width: 100%;
}
