/**
 * @file
 * Provides Layout Builder inline utilities.
 */

.gridstack.is-gs-lb {
  position: relative;
  clear: both;
  /* overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px; */
  margin-top: 15px;
  margin-bottom: 15px;
}

.is-gs-lb.row .gridstack__box .gridstack__box.box--empty {
  min-height: 140px;
}

.gridstack.is-gs-lb .gridstack__box .gridstack__box {
  outline: 1px dashed #2f91da;
}

/*
For for media.
.is-gs-lb.row .gridstack__box .box__content {
  position: relative;
  overflow: hidden; For rounded classes to work, but bad for edge to edge background.
}
*/

.is-gs-lb.row .gridstack__box .box__content.is-gs-ete {
  overflow: visible;
}

.is-gs-lb .layout-builder__actions {
  z-index: 22;
}

.is-gs-lb .gridstack__action {
  text-transform: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.is-gs-lb .gridstack__action.layout-builder__add-block {
  position: absolute;
  z-index: 98;
  bottom: 0;
  left: 0;
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  width: 100%;
  margin: 0;
  padding: 5px 1em;
  /* Reset CSS framework rules. */
  text-transform: none;
  font-size: 15px;
}

.is-gs-lb .gridstack__action a {
  display: inline-block;
  padding-right: 0.5em;
  vertical-align: top;
}

.gridstack.is-gs-lb .box[gs-w="2"] .box__content {
  padding-bottom: 64px;
}

.is-gs-lb .box[gs-w="2"] .gridstack__action a {
  display: block;
  margin: 0;
  background-position: 1em center;
}

.is-gs-lb .box[gs-w="2"] .layout-builder__add-block {
  padding: 0;
}

.gridstack.is-gs-lb .gridstack__action--ajax-styles {
  left: -9999px;
}

/* Allows Bootstrap/ Foundation CSS background shines through. */
.is-gs-lb .layout-builder-block {
  background-color: transparent;
}

.is-gs-lb .gridstack__action--ajax-styles,
.is-gs-lb .gridstack__action--js-styles {
  margin-left: 1em;
}

/* We have configurable padding rules, prevent confusion. */
.is-gs-lb .layout-builder-block {
  padding: 0;
}

/* Prevents being overriden, with live preview. */
.gridstack.is-gs-lb .gridstack__action a,
.gridstack.is-gs-lb .box .box__content a.use-ajax {
  color: #686868 !important; /* csslint allow: known-properties, important */
}

.gridstack.is-gs-lb .gridstack__action a:hover,
.gridstack.is-gs-lb .box .box__content a.use-ajax:hover,
.gridstack.is-gs-lb .box .box__content a.use-ajax:active,
.gridstack.is-gs-lb .box .box__content a.use-ajax:focus {
  color: #000 !important; /* csslint allow: known-properties, important */
}

.gridstack.is-gs-lb .gridstack__box.is-gs-region-active {
  outline: 4px solid red;
}

.gridstack.is-gs-lb .gridstack__box.is-gs-region-active .gridstack__action {
  background-color: #f0b3b3;
}

.is-gs-lb .is-gs-region-active .box__content a.layout-builder__link--configure {
  color: #000 !important; /* csslint allow: known-properties, important */
  font-weight: 600;
}

.is-gs-form,
.is-gs-section {
  position: relative;
}

.is-gs-form > .ajax-progress.ajax-progress-throbber,
.is-gs-section > .ajax-progress.ajax-progress-throbber {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.8);
}

.is-gs-form > .ajax-progress.ajax-progress-throbber .throbber,
.is-gs-section > .ajax-progress.ajax-progress-throbber .throbber {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
}

.ui-dialog-off-canvas.is-b-loading:not([data-animation])::before {
  z-index: 999;
}

/* Admin only: Bg dark with opacity has !important due to off-canvas BGs. */
.bg-dark-20 {
  background-color: rgba(0, 0, 0, 0.2) !important; /* csslint allow: known-properties, important */
}

.bg-dark-40 {
  background-color: rgba(0, 0, 0, 0.4) !important; /* csslint allow: known-properties, important */
}

.bg-dark-60 {
  background-color: rgba(0, 0, 0, 0.6) !important; /* csslint allow: known-properties, important */
}

.bg-dark-80 {
  background-color: rgba(0, 0, 0, 0.8) !important; /* csslint allow: known-properties, important */
}

.bg-dark-90 {
  background-color: rgba(0, 0, 0, 0.9) !important; /* csslint allow: known-properties, important */
}

@media screen and (min-width: 768px) {

  .layout-builder-configure-section .form-wrapper.form-wrapper--inline {
    width: 100%;
  }
}
