/**
 * @file
 * Provides minimal admin utilities.
 */

/* Fixed for gigantic layout thumbnails due to off-canvas reset. */
.ui-dialog-off-canvas a[href*="gridstack"] img { /* csslint allow: ids */
  max-width: 100% !important; /* csslint allow: known-properties, important */
  height: auto !important; /* csslint allow: known-properties, important */
}

.ui-dialog-off-canvas input[disabled] { /* csslint allow: ids */
  cursor: not-allowed;
}
