/**
 * @file
 * Provides layout variant utilities.
 */

.gridstack-editor {
  text-align: right;
}

.gridstack-editor .form--gridstack.form--gridstack-variant {
  margin: 15px auto;
  text-align: center;
}

.gridstack-editor .messages {
  text-align: left;
}

.gridstack-editor__form {
  clear: both;
}

.gridstack-editor .form--gridstack.form--gridstack-variant .js-form-item-description,
.gridstack-editor .form--gridstack.form--gridstack-variant > .form-actions {
  display: none;
}

.gridstack-editor .form--gridstack.form--gridstack-variant .form--gridstack-variant__actions {
  display: block;
}

.is-gs-lb-saving .ui-dialog-off-canvas {
  right: -1200px !important;
  left: auto !important;
}

.is-gs-lb-saving.js-off-canvas-dialog-open .dialog-off-canvas-main-canvas {
  padding: 0 !important; /* csslint allow: known-properties, important */
}

.is-gs-lb-saving .is-gs-editor-active {
  position: relative;
  min-height: 280px;
}

.is-gs-lb-saving .is-gs-editor-active::before {
  position: absolute;
  z-index: 98;
  top: 0;
  left: 0;
  display: block;
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  width: 100%;
  height: 100%;
  padding-top: 120px;
  content: attr(data-gs-variant-message) "...";
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 3rem;
  font-style: italic;
}

.gridstack-editor .ajax-progress {
  z-index: 98;
}

.gridstack-editor .form-item.js-form-item-vid,
.gridstack-editor .item-list--icon {
  position: relative;
  overflow: hidden;
  width: 24%;
  min-height: 180px;
  margin: 0;
  text-align: center;
  font-size: small;
}

.gridstack-editor .item-list--icon {
  padding: 5px;
  background: #f0f0f0;
}

.gridstack-editor .form-item.js-form-item-vid {
  display: inline-block;
  vertical-align: top;
}

.gridstack-editor .form-item.js-form-item-vid label {
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gridstack-editor .form-item.js-form-item-vid .field-suffix,
.gridstack-editor .item-list--icon li {
  display: block;
  padding: 2px 1px;
  border: 2px solid #f0f0f0;
}

.gridstack-editor .item-list--icon li {
  display: block;
  margin: 0 0 5px;
}

.gridstack-editor .item-list--icon li:last-child {
  margin: 0;
}

.gridstack-editor .form--gridstack-variant-selection img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.gridstack-editor .form-item.js-form-item-vid input {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.gridstack-editor .form-item.js-form-item-vid input:checked ~ .field-suffix {
  border: 2px solid #007bff;
}

.gridstack-editor .form-item.js-form-item-vid .ajax-progress {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  width: 100%;
  height: 100%;
  padding: 64px 15px;
  background: rgba(255, 255, 255, 0.8);
}

.gridstack-editor .was-gs-selected {
  opacity: 0.8;
  border: 1px solid red;
}

.gridstack-editor .is-gs-applied {
  border: 1px solid green;
}

.gridstack-editor .form-wrapper--selection img {
  opacity: 0.8;
}

.gridstack-editor .form-wrapper--selection input:checked + .field-suffix img {
  opacity: 1;
}

/*
.gridstack-editor .form--gridstack-variant-selection .btn--variant-delete {
  float: left;
  margin-top: 10px;
}
*/

.gridstack-editor .btn--editor {
  margin: 1px;
}

.gridstack-editor .form--gridstack-variant .btn--variant-update {
  position: absolute;
  z-index: 100;
  top: 110px;
  right: 62px;
}

.gridstack-editor .form--gridstack-variant__actions .btn {
  min-height: 32px;
  max-height: 40px;
  margin: 0.5px;
  padding: 5px 10px;
  /* border-radius: 0; */
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
}

/* @todo remove temp fix. */
.gridstack-editor .form--gridstack-variant__actions [data-drupal-messages] { /* csslint allow: unqualified-attributes */
  display: block;
  width: 100%;
}

/* Variant starts. */
.form--gridstack.form--gridstack-variant .box .btn-group,
.form--gridstack.form--gridstack-variant .form__title,
.form--gridstack.form--gridstack-variant .form--gridstack-variant__actions {
  display: none;
}

/* .form--gridstack.form--gridstack-variant .vertical-tabs__menu,
.form--gridstack.form--gridstack-variant .form--gridstack__screenshot, */
.form--gridstack[data-gs-breakpoint-count="1"] .vertical-tabs__menu,
.form--gridstack.form--gridstack-variant .form--gridstack__actions,
.form--gridstack.form--gridstack-variant .form-item--width,
.form--gridstack.form--gridstack-variant .ui-widget--region,
.form--gridstack.form--gridstack-variant .gridstack--ui .box--root > .box__content > .ui-widget--region {
  position: absolute;
  top: -999px;
  visibility: hidden;
  max-width: 32px;
  max-height: 32px;
  opacity: 0;
}

.form--gridstack.form--gridstack-variant .gridstack-preview {
  margin-bottom: 0;
}

.form--gridstack.form--gridstack-variant .form--gridstack__screenshot {
  top: 0;
  right: 112px;
  width: 100px;
  height: 148px;
}

.form--gridstack__screenshot a {
  display: block;
  height: 100%;
  border: 0;
}

.gridstack-editor .form--gridstack.form--gridstack-variant .form--gridstack__screenshot {
  top: -42px;
}

#block-olivero-content .gridstack-editor .form--gridstack.form--gridstack-variant .form--gridstack__screenshot {  /* csslint allow: ids */
  top: 64px;
}

.form--gridstack.form--gridstack-variant .form--gridstack__screenshot--original {
  right: 8px;
  border-color: #999;
}

.gridstack-editor .form--gridstack.form--gridstack-variant {
  overflow: visible;
}

.form--gridstack.form--gridstack-variant .js-form-item-label {
  float: none;
  width: auto;
  border: 0;
}

.form--gridstack.form--gridstack-variant .js-form-item-label p {
  margin: 0;
}

.form--gridstack.form--gridstack-variant .js-form-item-label input {
  display: block;
  float: none;
  max-width: none;
}

.form--gridstack.form--gridstack-variant .js-form-item-label .field-suffix {
  display: block;
}

.gridstack-editor .form--gridstack.form--gridstack-variant .js-form-item-label {
  margin: 0 auto 15px;
  text-align: center;
}

.gridstack-editor .form--gridstack.form--gridstack-variant .js-form-item-label input {
  display: inline-block;
}

.gridstack-editor .form--gridstack.form--gridstack-variant .js-form-item-label input.form-text--label-variant {
  display: block;
  max-width: 260px;
}

.gridstack-editor .form--gridstack .details--settings {
  margin: 0 auto;
}

.gridstack-editor .form--gridstack .gridstack-preview {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Olivero. */
.gridstack-editor .vertical-tabs > div,
.gridstack-editor form .js-form-type-vertical-tabs,
.toolbar-tray-open .gridstack-editor form .js-form-type-vertical-tabs {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .gridstack-editor .form--gridstack.form--gridstack-variant .js-form-item-label {
    max-width: 50%;
  }

  .gridstack-editor .item-list--icon {
    float: right;
    margin-top: 36px;
  }

  .gridstack-editor .form-wrapper--selection {
    margin-right: 0;
    text-align: left;
  }
}
