/**
 * @file
 * Provides generic admin utilities.
 */

:root {
  --gs-bg: rgba(240, 240, 240, 0.4);
  --gs-shadow: rgba(200, 200, 200, 0.8);
  --gs-border: rgba(123, 123, 123, 0.4);
}

.form--gridstack {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.form--blazy-on.form--gridstack {
  overflow: hidden;
}

.form--optionset.form--gridstack .vertical-tabs details {
  padding: 0;
}

.form--gridstack .details--settings {
  position: relative;
  clear: both;
  overflow: visible;
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  width: 100%;
  margin: 30px auto;
  border: 1px solid var(--gs-border);
  background: var(--gs-bg);
  box-shadow: 0 0 0 4px var(--gs-shadow);
}

.form--gridstack .form-wrapper--gridstack-settings summary {
  padding: 1rem 1rem 1rem 2.25rem;
}

.form--gridstack .form-wrapper--gridstack-settings > div > div:first-child {
  max-width: 80%;
  padding: 0 1rem 0 2.25rem;
  font-size: small;
}

.form--gridstack .form-wrapper--gridstack-settings .form-item {
  border-right: 0;
}

.form--gridstack details.form-wrapper {
  clear: both;
}

.form--gridstack .js-form-item-description textarea {
  max-height: 64px;
}

.form--gridstack .js-form-item-description.form-item {
  border: 0;
}

.form--gridstack .js-form-item-description label {
  text-align: left;
}

.form--gridstack .gridstack-preview .js-form-type-textarea {
  float: none;
  width: 100% !important; /* csslint allow: known-properties, important */
}

.form--gridstack .form--gridstack__actions {
  display: block; /* Claro */
  padding: 15px;
  text-align: center;
}

.form--gridstack .form--gridstack__actions .btn {
  margin: 0 5px;
}

.form--gridstack .box .btn-group {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
}

.form--gridstack .box .btn {
  display: block;
  width: 28px;
  padding: 2px;
  font-size: 18px;
  font-weight: 400;
}

.form--gridstack .box .box__content .form-item {
  width: auto;
}

.form--gridstack .box .box__content .form-select {
  position: relative;
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  min-width: 80px;
  max-width: 80px;
  height: 28px;
  white-space: nowrap; /* Fix for Bartik */
  text-indent: 0.01px;
  text-overflow: "";
  border: 1px solid #dadada;
  font-size: 13px;
  font-weight: 400;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.form--gridstack .box .box__content .form-select,
.form--gridstack .box .box__content .form-text {
  display: inline-block;
  visibility: hidden;
  float: none;
  margin: 0 2px;
}

.form--gridstack .box:hover::after,
.form--gridstack .box:hover .box__content .form-select,
.form--gridstack .box:hover .box__content .form-text,
.form--gridstack .box .box__content .form-text:focus {
  visibility: visible;
}

.form--gridstack #edit-json .form-item { /* csslint allow: ids */
  width: 100%;
}

#gridstack-image-style-template { /* csslint allow: ids */
  display: none;
}

.form--gridstack .box .btn--add,
.form--gridstack .box .btn--nested,
.form--gridstack .box .btn--remove {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 10px;
}

.form--gridstack .box .btn--add,
.form--gridstack .box .btn--nested {
  right: 40px;
}

.gridstack--ui .btn-group {
  z-index: 99; /* Above ui-resizable-handle 90 */
}

.gridstack--ui .box .btn-group div {
  display: inline-block;
  float: none;
  width: auto;
  min-height: 22px;
  padding: 0;
  border: 0;
  background: none;
}

.form--gridstack #edit-add-grids { /* csslint allow: ids */
  display: block;
  visibility: hidden;
  margin: 0 auto;
}

.form--gridstack .gridstack-preview .ajax-progress-throbber .throbber,
.form--gridstack .gridstack-preview .ajax-progress-throbber .message {
  display: inline-block;
  float: none;
  max-width: 210px;
  margin: 0 auto;
}

.form--gridstack .gridstack-preview .ajax-progress {
  display: block;
  margin-top: -40px;
  text-align: center;
}

.form--gridstack .gridstack-wrapper {
  overflow: auto;
  min-height: 210px;
  padding: 20px;
}

.form-wrapper--table-gridstack-responsive th:first-child {
  text-align: right;
}

.form-wrapper--table-gridstack-responsive th:last-child {
  display: none;
}

/**
 * Canvas for dynamic icon/ screenshot.
 *
 * @todo use background: -moz-element(#gridstack-1), gray; when cross-browser.
 */
.form--gridstack .form--gridstack__screenshot {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  display: block;
  overflow: hidden;
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  width: 165px;
  height: 232px;
  margin: 0;
  text-align: center;
  border: 1px solid #000;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

.form--gridstack .form--gridstack__screenshot img {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  transform: translateY(-50%);
  text-align: center;
}

.form--gridstack .form--gridstack__screenshot.has-bg img {
  display: none;
}

.form--gridstack #gridstack-canvas { /* csslint allow: ids */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -100%;
  display: block;
  visibility: hidden;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  line-height: 0;
}

.gridstack-list-form .media img {
  max-width: 140px;
  height: auto;
  max-height: 260px;
}

.gridstack-list-form td:nth-child(3) {
  text-transform: capitalize;
}

.form--optionset.form--gridstack .gridstack-preview--sub.form-disabled {
  position: relative;
}

.form--optionset.form--gridstack .gridstack-preview--sub.form-disabled::before {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  cursor: not-allowed;
}

.form--optionset.form--gridstack .gridstack-preview--sub .btn--main {
  position: absolute;
  left: -100%;
  visibility: hidden;
}

/** Fix for Bootstrap vs. Seven too small font sizes. */
.form--gridstack.is-framework {
  font-size: 16px;
}

.is-framework .b-tooltip .form-item > .description,
.is-framework .b-tooltip .form-composite > .fieldset-wrapper > .description {
  font-size: 13px;
}

.form--gridstack.is-framework small,
.form--gridstack.is-framework .form-item,
.form--gridstack.is-framework .form-item label,
.form--gridstack.is-framework .form-item .option,
.form--gridstack.is-framework .form-item .form-text,
.form--gridstack.is-framework .form-item .form-select,
.form--gridstack.is-framework .form-item .form-textarea {
  font-size: 14px;
}

.form--gridstack.is-framework .form__title {
  font-size: 22px;
}

.js-form-item-options-use-framework label {
  display: inline-block;
  width: auto;
}

.js-form-item-options-use-framework label span {
  text-transform: capitalize;
}

.form--gridstack .gridstack.gridstack--nested .btn {
  background: #18bc9c;
}

.gridstack.gridstack--nested .btn--remove {
  top: 26px;
  left: 32px;
  border: 0;
}

/*
.form--blazy-on.form--optionset.form--gridstack .js-form-item-options-use-framework {
  box-sizing: border-box;
  border: 0;
  height: 42px;
  position: absolute;
  top: -48px;
  left: 0;
  min-height: 42px;
  padding: 12px 0 0;
  width: 80% !important;
  z-index: 6;
}
*/

.form--optionset.form--gridstack .form-item--options-use-framework {
  float: none;
  width: 100%;
  margin-left: 60px;
}

.form--optionset.form--gridstack .form-wrapper--gridstack-settings > .details-wrapper {
  padding: 15px 0;
}

/**
 * Vertical tabs.
 */
.form--optionset.form--gridstack .js-form-type-vertical-tabs {
  padding: 0;
  border: 0;
  background: none;
}

.form--optionset.form--gridstack .vertical-tabs {
  margin-top: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
}

.form--optionset.form--gridstack .vertical-tabs > div .form__title,
.form--optionset.form--gridstack .vertical-tabs > div details.form-wrapper,
.form--optionset.form--gridstack .vertical-tabs > div .form-actions,
.form--optionset.form--gridstack .vertical-tabs > div .gridstack-preview {
  clear: none;
}

.form--optionset.form--gridstack .vertical-tabs > div .gridstack-preview {
  float: left;
  width: 100%;
}

.form--optionset.form--gridstack .vertical-tabs > ul > li {
  background: none;
}

.form--optionset.form--gridstack .vertical-tabs > ul {
  float: none;
  width: 100%;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  background: var(--gs-bg);
}

.form--optionset.form--gridstack .vertical-tabs > ul > li,
.form--optionset.form--gridstack .vertical-tabs > ul > li.is-selected {
  display: inline-block;
  float: none;
  width: auto;
  margin: 0;
  vertical-align: top;
  border: 0;
  box-shadow: none;
}

.form--optionset.form--gridstack .vertical-tabs > ul > li a {
  font-size: 22px;
}

.form--optionset.form--gridstack .vertical-tabs > ul > li a,
.form--optionset.form--gridstack .vertical-tabs > ul > li a:hover,
.form--optionset.form--gridstack .vertical-tabs > ul > li a:focus {
  border: 0;
  outline: 0;
  background: none;
}

/*
.form--optionset.form--gridstack .vertical-tabs > ul > li.is-selected a {
  background: var(--gs-bg);
}
*/

.form--optionset.form--gridstack .vertical-tabs__menu-item {
  padding: 0;
}

.form--optionset.form--gridstack .vertical-tabs__menu-item::before,
.form--optionset.form--gridstack .vertical-tabs__menu-item::after {
  display: none;
}

.form--optionset.form--gridstack .vertical-tabs > div {
  margin: 0;
  padding: 0;
  border: 0;
  background: var(--gs-bg);
}

.form--optionset.form--gridstack .vertical-tabs > div > details,
.form--optionset.form--gridstack .vertical-tabs > div > details > .details-wrapper,
.form--optionset.form--gridstack .vertical-tabs > div .gridstack-wrapper {
  margin: 0;
  padding: 0;
}

/* On saving, details must not be gone. */
.form--optionset.form--gridstack.is-gs-saving .vertical-tabs > div > details,
.form--optionset.form--gridstack.is-gs-saving .vertical-tabs > div > details > div,
/* Claro */
.form--optionset.form--gridstack.is-gs-saving details:not([open]) .details-wrapper {
  display: block !important; /* csslint allow: known-properties, important */
}

.form--optionset.form--gridstack .vertical-tabs > div {
  z-index: 3; /* Claro */
}

.form--blazy-on.form--gridstack .btn--revert,
.form--blazy-on.form--gridstack.is-framework .form-item--width {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.form--blazy-on.form--gridstack .btn--revert {
  bottom: 80px;
}

.form--gridstack .form--gridstack__actions {
  min-height: 60px;
}

.form--gridstack .form-disabled.js-form-item-options-use-framework {
  opacity: 1;
}

.form--optionset.form--gridstack .vertical-tabs__menu-item-summary,
.form--optionset.form--gridstack .vertical-tabs__menu-link-summary /* Claro */ {
  display: none !important; /* csslint allow: known-properties, important */
}

.gridstack.gridstack--nested .box[gs-x="0"]:first-child::before {
  left: 40px;
}

.gridstack-list-form [data-drupal-selector="edit-entities-default"] { /* csslint allow: unqualified-attributes */
  display: none;
}

.form--gridstack .form-actions {
  position: relative;
}

.form--gridstack #edit-delete { /* csslint allow: ids */
  top: 0;
}

/** @todo remove: Temp fix for weird broken xs breakpoint. Claro
.is-framework .vertical-tabs > ul > li.first,
.is-framework .vertical-tabs > ul > li:first-child {
  display: none;
} */

@media screen and (min-width: 768px) {
  .form-wrapper.form-wrapper--inline {
    display: inline-block;
    float: none;
    width: 49%;
    margin: 2px 0;
    vertical-align: top;
  }

  .form--optionset.form--gridstack .form-item--width .description {
    left: 0;
    min-width: 480px;
  }
}

@media screen and (min-width: 1280px) {
  .form--optionset .form-wrapper--gridstack-grid .form-item,
  .toolbar-tray-open .form--optionset .form-wrapper--gridstack-grid .form-item {
    width: 20%;
  }

  .form--optionset .form-wrapper--gridstack-grids .form-item label {
    width: 100px;
  }

  .form--optionset .form-wrapper--gridstack-grids .form-select {
    min-width: 100px;
    max-width: 100px;
    min-height: 28px;
  }

  .form--gridstack #edit-json .form-item { /* csslint allow: ids */
    width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  .form--gridstack {
    max-width: 1400px;
  }

  .form-wrapper.form-wrapper--inline {
    width: 32%;
  }
}
