{#
/**
 * @file
 * Default theme implementation for the GridStack template for admin.
 *
 * Available variables:
 * - items: The array of items containing gridstack contents and captions.
 * - settings: A cherry-picked settings that mostly defines the box HTML or
 *     layout, and none of JS settings/options which are defined at data-config.
 * - attributes: The array of attributes to hold classes, id and config data
 *     containing JSON object aka JS settings the GridStack expects. We don't
 *     store these JS settings in the normal <head>, but inline within
 *     data-config attribute instead.
 *
 * Debug:
 * @see https://www.drupal.org/node/1906780
 * @see https://www.drupal.org/node/1903374
 * Use Kint: {{ kint(variable) }}
 * Dump all available variables and their contents: {{ dump() }}
 * Dump only the available variable keys: {{ dump(_context|keys) }}
 */
#}
{%
  set preview_classes = [
    'gridstack-preview',
    settings.display ? 'gridstack-preview--' ~ settings.display,
    settings.breakpoint ? 'gridstack-preview--' ~ settings.breakpoint,
    settings.is_main_preview ? 'gridstack-preview--main' : 'gridstack-preview--sub',
    settings.breakpoint_width is empty and not settings.is_main_preview  ? 'form-disabled',
  ]
%}
{%
  set content_classes = [
    'gridstack gridstack--ui grid-stack is-gs-layout',
    settings.noMargin ? 'is-gs-nomargin',
  ]
%}
{%
  set wrapper_classes = [
    'gridstack-wrapper',
  ]
%}
{% set main_buttons %}
  {% if settings.is_main_preview %}
    <div class="form--gridstack__actions form-actions form-wrapper clearfix">
      {% for key, button in main_buttons %}
        {% if key == 'save' %}
          {# @click="saveIcon()" #}
          <button{{ button.attributes }}>{{ button.text }}</button>
        {% else %}
          {# @click="addBoxMultiple()" #}
          <button{{ button.attributes }}>{{ button.text }}</button>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endset %}

<div{{ preview_attributes.addClass(preview_classes) }}>
  <div {{ wrapper_attributes.addClass(wrapper_classes) }}>
    <div class="gridstack-info"></div>
    <div{{ content_attributes.addClass(content_classes) }}>
      {# Content populated dynamically here. #}
    </div>
  </div>
  {% if not settings.no_buttons and settings.is_main_preview %}
    {{ main_buttons }}
  {% endif %}
</div>
