{#
/**
 * @file
 * Default theme implementation for the individual GridStack box/item template.
 *
 * Available variables:
 * - attributes: An array of attributes to apply to the element.
 * - item.box: A renderable array of the main image/background, or empty if
 *   CSS background image is preferred.
 * - item.caption: A renderable array containing caption fields if provided:
 *   - title: The individual box title.
 *   - link: The box links or buttons.
 *   - data: any possible field for more complex data if crazy enough.
 * - settings: An array containing the given settings.
 *
 * @see template_preprocess_gridstack_box()
 */
#}
{%
  set classes = [
    settings.layout ? 'box--caption--' ~ settings.layout|clean_class,
    config.is.empty ? 'box--empty',
  ]
%}
{%
  set caption_classes = [
    'box__caption',
  ]
%}
{% set use_blazy = blazies.use.theme_blazy  %}
{% set use_inner = config.use.inner %}
<{{ wrapper }}{{ attributes.addClass(classes) }}>

  {# Allows background mode only, or prefacing content for layering to work. #}
  {{ item.preface }}

  {% if use_inner %}
    <div{{ content_attributes }}>
  {% endif %}

    {{- item|without(item.preface) -}}

  {% if use_inner %}
    </div>
  {% endif %}
</{{ wrapper }}>
